input[type=radio] {
    border: 0px;
    width: 1.5em;
    height: 1.5em;
}   

button {
   
    font-size: 25px;
   
}

sup {
    color: red;
    font-size: large;
}
#inputField {
    font-size: x-large;
    font-family: monospace;
    padding-top: 10px;
}
.title {
    font-family: monospace;
}
.text-center {
    padding-top: 6px;
}
.container {
    border-style: ridge;
    margin-top: 6%;
    padding: 14px;   
}

img{
    height: 100px;
    width: 150px;
}