input[type=radio] {
    border: 0px;
    width: 1.2em;
    height: 1.2em;
}   

sup {
    color: red;
    font-size: large;
}
#inputField {
    font-size: larger;
    font-family: monospace;
    padding-top: 2px;
}
.title {
    font-family: monospace;
}
img{
    height: 80px;
    width: 80px;
}
.address-form {
    
    max-width: 100%;
    background: #f8f9fa!important;;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 12px;
    padding-bottom: 22px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  
}